<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colley.android"
    android:versionCode="2"
    android:versionName="zero">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ColleyApp"
        android:icon="@drawable/colley_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/colley_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Colley"
        android:fullBackupContent="true"
        android:allowBackup="true">
        <activity android:name=".view.activity.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.MainActivity" />
    </application>

</manifest>